.contact {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.contact button {
  font-size: 1rem;
  padding: 10px 15px;
  background: transparent;
  border: 2px solid #e88f40;
  color: #e88f40;
  border-radius: 50px;
}

.contact button:hover {
  background-color: #e88f40;
  color: white;
  cursor: pointer;
}

.contact button.share {
  border: none;
  border-radius: 50px;
}
.contact button.share:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
