.playerAttribute {
  display: flex;
  flex-direction: column;
}

.playerAttribute h2 {
  margin: 0 !important;
  font-weight: 700;
  color: black;
  font-size: 1rem;
  position: relative;
  width: max-content;
}

.playerAttribute h2::after {
  content: "";
  top: 30px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #e88f40;
  position: absolute;
}

.playerAttribute h3 {
  margin: 20px 0 !important;
  font-size: 0.98rem;
}

.playerAttribute p {
  margin: 10px 0 !important;
  font-size: 0.98rem;
}
