.profile {
  position: relative;
  overflow: hidden;
  flex: 2;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

.profileTitle {
  position: absolute;
  bottom: 0;
  padding: 0px 30px;
  color: white;
}

.profileTitle p {
  font-weight: 300;
}

p.playerName {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 !important;
}
